body {
    background-color: orange;
}
p {
    background-color: rgb(57, 57, 255);
    color: silver;
}
a {
    background-color: rgb(57, 57, 255);
    color: silver;
}
button {
    background-color: rgb(57, 57, 255);
    color: silver;
}