hr {
    border: 5px solid rgb(0, 191, 255);
    border-radius: 5px;
}

.div {
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: auto;
    border: 3px solid rgb(0, 191, 255);
    border-radius: 5px;
    padding: 0%;
    padding-bottom: 3px;
}

.headfont {
    color: rgb(0, 191, 255);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 5px yellow, 0px -4px 5px red, 0px 0px 9px black;
}

.font {
    font-family: 'Biryani', sans-serif;
    font-size: 20px;
    text-align: center;
}

.infield {
    font-family: 'Biryani', sans-serif;
    font-size: 20px;
    width: 285px;
    height: 30px;
    margin: 3px;
}

.wd70 {
    width: 70px;
}